html, body {
  height: 100%;
  background-color: white;
  color: black;
}

body {
	font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
	display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.banner {
	height: 100%;
	background-color: #1da1f2;
}

.title {
	color: #1da1f2;
	font-size: 27px;
    line-height: 32px;
}

.subtitle {
	color: #14171a;
    font-size: 18px;
    line-height: 24px;
    margin: 16px auto;
}

.form-control {
	background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
}

.comunicacao {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.communicationItem {
	color: #fff;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 48px auto;
    position: relative;
}

.menuItem{
    padding:8 8 8 8;
}

/* Criando modo dark */

html {
    background: var(--backg);
    --btn: #2ab1ce;
    --backg: #fff;
    --colorx: #232323;
 
  }
   
  html[data-theme='dartheme'] {
    background: var(--backg);
    --btn: #ea4b3c;
    --backg: #232323;
    --colorx: #fff;
  }
   

   
  input[type=checkbox] {
    visibility: hidden;
    height: 0;
    width: 0;
    
  }
   
  label {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 30px;
    background: var(--btn);
  }
   
  label:after {
    border-radius: 50%;
    position: absolute;
    content: '';
    background: #fff;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 4px;
    transition: ease-in-out 200ms;
  }
   
  input:checked + label {
    background: #ea4b3c;
  }
   
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
   
  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: ease-in-out 200ms !important;
    transition-delay: 0 !important;
  }

  /* Segunda edição do darkmode */

  .dark-mode {
    background-color: black;
    color: white;
  }
  
img {
  height: 42px;
  width: 42px;
}

.modo-dark {

  padding:10 10 10 10; 
}